{
  "pages": [
    "pages/index/index",
    "pages/search/search",
    "pages/post-detail/post-detail",
    "pages/profile/profile"
  ],
  "window": {
    "backgroundTextStyle": "light",
    "navigationBarBackgroundColor": "#fff",
    "navigationBarTitleText": "纸飞机",
    "navigationBarTextStyle": "black"
  },
  "sitemapLocation": "sitemap.json",
  "lazyCodeLoading": "requiredComponents",
  "usingComponents": {
    "t-icon": "tdesign-miniprogram/icon/icon",
    "t-search": "tdesign-miniprogram/search/search",
    "t-popup": "tdesign-miniprogram/popup/popup",
    "t-loading": "tdesign-miniprogram/loading/loading",
    "t-empty": "tdesign-miniprogram/empty/empty",
    "t-tabs": "tdesign-miniprogram/tabs/tabs",
    "t-tab-panel": "tdesign-miniprogram/tab-panel/tab-panel",
    "t-avatar": "tdesign-miniprogram/avatar/avatar",
    "t-button": "tdesign-miniprogram/button/button"
  }
}

